html(lang="ja" ng-app='App')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE-edge")
        meta(name="viewpoint" content="width-device-width, initial-scale=1")
        title=title
        link(type='text/css',href="/statics/css/bootstrap.min.css",rel="stylesheet")
        link(type='text/css',rel="stylesheet", href="/statics/css/bootstrap-grid.min.css")
        link(type='text/css',rel="stylesheet", href="/statics/css/bootstrap-reboot.min.css")
        script(src='/statics/js/angular.js')
        script(src='/statics/js/angular-route.js')
        script(src='/statics/js/angular-resource.js')
        script(src="/statics/js/accounts.js")
        script(src="/statics/js/jquery-3.3.1.min.js")
        script(src="/statics/js/bootstrap.min.js")
        base(href='/')
    body
        div.container.justify-container-between
            div(ng-include="'views/main/navibar.html'")
            div.container
                .ng-view