<div class="row">
  <div class="col-md-8">
    <h1 class="border-bottom mb-4">Kivitz</h1>
  </div>
  <div class="col-md-2" style="margin:auto"><a ng-href="accounts">アカウント管理</a></div>
  <div class="col-md-2" style="margin:auto"><a ng-href="accounts">ログイン</a></div>
</div>
<div class="row">
  <div class="col-12">
    <nav class="navbar bg-dark nav-tabs"><a class="nav-item nav-link text-white" ng-href="/">Top</a><a class="nav-item nav-link text-white" ng-href="/DENX">DENXについて</a><a class="nav-item nav-link text-white" ng-href="./schedule">行事予定</a><a class="nav-item nav-link text-white" ng-href="./activities">活動報告</a><a class="nav-item nav-link text-white" ng-href="./access">お問い合わせ</a>
      <form class="form-inline m-1">
        <input class="form-control mr-2" type="text" placeholder="find" ng-model="check"/>
      </form>
    </nav>
  </div>
</div>