   div.row
      div.col-md-8
         h1.border-bottom.mb-4=title 
      div.col-md-4(style="margin:auto")
         a(ng-href="#/") Topに戻る
   div.row(style="margin:auto")
      div.col-md-2
         a.btn.btn-primary.btn-sm.my-3(href='create') 新規登録
      div.col-md-6(style="margin: auto;margin-left: 0;")
         form.form-inline.m-1
            input.form-control.mr-2(type='text',placeholder='検索' style="width: 100%;" ng-model="search")
      div.container-fluid 
         div.row
            .ng-view 
               table.table.table-bordered.table-striped
                  thead
                     - var names=['ID','名前','名前（かな）','性別','生年月日']
                     each name in names
                        th(scope="col").text-center=name
                     th(colspan="2").text-center='変更'
                  tbody
                     tr(ng-repeat="data in accounts|filter:search")
                        td(scope="row"){{data.id}}
                        td {{data.first_name}} {{data.last_name}}
                        td {{data.kana_first_name}} {{data.kana_last_name}}
                        td {{data.gender}}
                        td {{data.birth| date:'yyyy年MM月dd日'}}
                        td: button().btn.btn-success 変更
                        td: button(ng-click='delete(id)').btn.btn-danger　削除