extends base_crud
block content
   div.row
      div.col
         h1.border-bottom.mb-4=title
   div.row(style="margin:auto")
      div.col
         a(href="/accounts") Topに戻る
   div.row
      div.col-md-8(style="background-color:#f1f1f1")
         div.container(style="padding:30px;text") 
            <!--フォームの"アクション"はサーバーのアドレスに送信すればいい。-->
            block forms