//マークダウン形式の記事のエディタを設置する。
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .row
            .col-3
                .col
                    input(type="button", value="")
                .col
                    input(type="button", value="")
        .row
            .col
                textarea(name="editor", cols="30", rows="10")#editor
            .col
                #result