  <div class="modal fade" id="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class=modal-header>
          <h5 class="modal-title">アカウントの登録</h5>
        </div>
        <div class="modal-body">
          <form method="POST" novalidate="novalidate"> 
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="first_name">姓</label>
                  <input id="first_name" class="form-control" name="first_name" placeholder="例：山田" ng-model="data.first_name" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="last_name">名</label>
                  <input id="last_name" class="form-control" name="last_name" placeholder="例：太郎" ng-model="data.last_name" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="kana_first_name" class="control-label">姓(ひらがな)</label>
                  <input id="kana_first_name" class="form-control" name="kana_first_name" placeholder="例：やまだ" ng-model="data.kana_first_name"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="kana_last_name" class="control-label">名（ひらがな）</label>
                  <input id="kana_last_name" class="form-control" name="kana_last_name" placeholder="例：たろう" ng-model="data.kana_last_name" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">性別</label>
                  <div class="form-control radiokbox" style="font-size:16px;">
                    <input type="radio" name="gender" value="1" checked="checked" ng-model="data.gender"/>男性 
                    <input type="radio" name="gender" value="0" ng-model="data.gender"/>女性
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label">生年月日</label>
                  <input class="form-control" placeholder="yyyy-MM-dd" type="date" name="birth" style="font-size:20px;text-align:center" ng-model="data.birth"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="control-label" for="email">Email Address</label>
                  <input class="form-control" id="email" name="email" placeholder="your address" type="email" ng-moel="data.email"/>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input class="btn btn-block btn-primary" ng-click="create()" type="submit"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>