extends base_cu
    block forms
    form(action="/server/:id" method="post" novalidate) 
        div.row()
            div.col-md-6
                div.form-group
                    label.control-label 姓
                    input.form-control(name="first_name" placeholder='例：山田'  value=#{data.first_name})
            div.col-md-6
                div.form-group
                    label.control-label 名
                    input.form-control(name="last_name" placeholder='例：太郎' ng-model="data.last_name" value="{{data.last_name}}")
        div.row
            div.col-md-6
                div.form-group
                    label.control-label 姓(ひらがな)
                    input.form-control(name="kana_first_name" placeholder='例：やまだ' ng-model="data.kana_first_name" value="{{data.kana_first_name}}")
            div.col-md-6
                div.form-group
                    label.control-label 名（ひらがな）
                    input.form-control(name="kana_last_name" placeholder='例：たろう' ng-model="data.kana_last_name" value="{{data.kana_last_name}}")
        div.row
            div.col-md-4
                div.form-group
                    label.control-label 性別
                    div.form-control.radiokbox(style="font-size:16px;")
                        label(style="margin-right:20%") 
                        input(type="radio" name="gender" value='1' checked="checked" ng-model="data.gender") 
                        | 男性 
                        label
                        input(type="radio" name="gender" value='0' ng-model="data.gender") 
                        | 女性
            div.col-md-8
                div.form-group
                    label.control-label 生年月日
                    input.form-control(type="date" name='birth' style="font-size:20px;text-align:center" ng-model="data.birth" )
        div.row
            div.col
                div.form-group
                    label.control-label(for="Email") Email Address
                    input.form-control(id="email" name='email' placeholder="your address" type="email" ng-moel="data.email")
        div.row
            div.col 
                div.form-group
                    input(type="submit").btn.btn-block.btn-primary